@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hr {
  color: #000;
}
.icon {
  border-radius: 5px;
  width: 75px;
  height: 75px;
}
.container {
  height: 100vh;
  padding-top: 4%;
  padding-left: 8%;
  padding-right: 8%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/RoadWiew.jpg);
  background-position: center;
}
p {
  font-size: 10px;
  color: #fff;
  line-height: 15px;
}
.btn {
  padding: 12px 28px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  transition: ease 0.5s;
  border-radius: 20px;
  border: 1px solid red;
  text-decoration: none;
}
.btn:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid white;
}
.navbar {
  height: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  column-gap: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: ease 0.5s;
}
nav ul li a:hover {
  color: #000;
}
.row {
  display: flex;
  column-gap: 10px;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}
h1 {
  color: #fff;
  font-size: 100px;
  font-weight: bold;
}
h5 {
  color: #fff;
  font-weight: bold;
}
.description {
  font-size: 16px;
  line-height: 140%;
}
.cards {
  max-width: 500px;
  margin: auto;
}
.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  padding: 15px 25px;
  cursor: pointer;
  border: 1px solid red;
  position: relative;
  transition: ease 0.5s;
  margin: 10px 15px;
}
.card:hover {
  transform: translateY(-10px);
  border-color: #fff;
}
.card .card-head {
  background-color: rgba(68, 61, 61, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}
.card .card-bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
}
.card.card-1 {
  background-image: url(./img/Audi.jpg);
}
.card.card-2 {
  background-image: url(./img/maserati.jpg);
}
.card.card-3 {
  background-image: url(./img/porche.jpg);
}
.card.card-4 {
  background-image: url(./img/mercedes.jpg);
}
